td {
    width: 40px;
    height: 40px;
    background-color: grey;
    color: grey;
}

.page-container {
    display: flex;
}
.score-section {
    width: 25%;
}
#grid {
    max-width: 1000px;
}
img {
    height: 100px;
    width: 100px;
}