body {
    height: 100vh;
    width: 100vw - 2px;
    margin: 0;
}
h2 {
    font-size: 1.5rem;
    margin:0.5rem;
}
p {
    margin: 0.5rem;
}
h1{
    text-align: center;
    font-size: 50px;
}
td {
    width: 2rem;
    height: 2rem;
    background-color: white;
    color: grey;
    border: 1px solid black;
}
#next-shape td{
    border: 0;
}

.page-container {
    display: flex;
    position: relative;
    width: max-content;
    margin: auto;
    height: 100%;
}
.score-section {
    width: 25%;
}
#grid {
    
    display: flex;
}
.grid-container {
    width: max-content;
    height: max-content;
    position: relative;
}
.hidden {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 45px;
}
#game-over p{
    font-size: 30px;
    text-wrap: wrap;
    color: white;
}
#game-over{
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}
#game-over h3 {
    margin: 1rem;
    color: white;
}